@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&display=swap');

html,
body,
#root,
.app,
.content {
    height: 100%;
    width: 100%;
    font-family: 'PT Sans Caption', sans-serif;
    overflow-x: hidden;
}

.app {
    display: flex;
    position: relative;
}

.inner-content {
    overflow-y: scroll;
    padding: 20px;
}

/* Scroll bar */
::-webkit-scrollbar {
    width: 4px;
    border-radius: 10px;
}
/* Scroll bar Track */
::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
}
/* Scroll bar handle */
::-webkit-scrollbar-thumb {
    background: grey;
}
/* Scroll bar handle hover effect */
::-webkit-scrollbar-thumb:hover {
    background: grey;
}